In [25]:
import pandas as pd
import numpy as np

In [2]:
ds = pd.read_csv("../input/starbucks_updt.csv")

In [4]:
ds[ds['City'].str.lower()=='alicante']

,Brand,Store Number,Store Name,Street Address,City,Longitude,Latitude,Pais
5121,Starbucks,26658-244208,ECI Alicante,"Avenida Federico Soto 1,3, Aeropuerto de Gran ...",Alicante,-0.49,38.34,Spain
5200,Starbucks,15213-156884,Alicante,"AEROPUERTO DE ALICANTE - Planta 2., Salidas. Z...",Alicante,-0.56,38.29,Spain

In [42]:
#ds[ds['City'].str.lower()=='alicante']
ds[ds['City'].str.lower()=='valencia'].groupby(['Pais'])['Pais'].unique().shape[0]#.size().reset_index().groupby('Pais')[[0]].count()

2

In [45]:
[a for a in ds[ds['City'].str.lower()=='valencia'].groupby(['Pais'])['Pais'].unique().keys()]

['Spain', 'United States']

In [6]:
len(ds)

25600

In [5]:
len(ds[ds['Latitude']>0])

24898

In [7]:
len(ds[ds['Pais']=='United States'])

13608

In [17]:
sal = ds.groupby(['City'])['City'].count()

In [26]:
np.argsort(-sal, axis=1)

City
's-Hertogenbosch    5298
1~2F                4176
2-3-6 Kyonancho     5319
330-9501            3219
438-1 Fujisawa      2626
                    ...
부산                  2464
서울                  2469
울산                  2470
인천                  2535
충청남도                5468
Name: City, Length: 5469, dtype: int64